@font-face {
	font-family: "SpaceMono", monospace;
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/SpaceMono/SpaceMono-Regular.ttf");
}

@font-face {
	font-family: "Inter", sans-serif;
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/Inter/Inter-Regular.ttf");
}
