@import "fonts.css";
@import "palette.css";
@import "transitions.css";

:root {
	--font-mono: "Space Mono", monospace;
	--max-width: 97vw;
	--max-content-width: 60vw;
	--border-radius: 5px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	font-family: "Inter", sans-serif;
	font-size: 1rem;
	tab-size: 4;
}

body {
	background: var(--color-bg);
	color: var(--color-text);

	transition: all var(--transition);
}

p {
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

button.styled-btn {
	cursor: pointer;
	background: none;
	border-style: solid;
	border-width: 2px;
	border-radius: var(--border-radius);
	color: var(--color-primary);
	border-color: var(--color-primary);
	transition: var(--transition);
}

button.styled-btn:hover {
	background-color: rgba(var(--color-primary-rgb), 0.1);
}

::selection {
	background-color: var(--color-highlight);
}

:focus-visible {
	box-shadow: 0 0 0 1px var(--color-primary);
	outline: none;
}

@media (orientation: landscape) {
	::-webkit-scrollbar {
		width: 12px;
		background-color: var(--color-bg-accent);
		height: 12px;
	}

	::-webkit-scrollbar-track {
		border-radius: 3px;
		background-color: transparent;
	}

	::-webkit-scrollbar-corner {
		background-color: var(--color-bg-accent);
	}

	::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background-color: rgba(var(--color-text-rgb), 0.3);
		border: 2px solid var(--color-bg-accent);
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: rgba(var(--color-text-rgb), 0.4);
	}
}

@media only screen and (max-width: 1200px) {
	:root {
		--max-width: 90vw;
		--max-content-width: 90vw;
	}
}
