:root {
	--color-bg-dark: #1C1C1C;
	--color-bg-dark-accent: #1f2125;
	--color-bg-light: #ffffff;
	--color-bg-light-accent: #c0c1c5;
	--color-text-dark-rgb: 255, 255, 255;
	--color-text-dark: rgb(var(--color-text-dark-rgb));
	--color-text-light-rgb: 19, 20, 24;
	--color-text-light: rgb(var(--color-text-light-rgb));
	--color-highlight: rgb(248, 200, 64);
}

body.light {
	--color-primary-rgb: 31, 119, 227;
	--color-primary-hex: #1f77e3;
	--color-primary: rgb(var(--color-primary-rgb));
	--color-secondary: blue;
	--color-bg: var(--color-bg-light);
	--color-bg-accent: var(--color-bg-light-accent);
	--color-text-rgb: var(--color-text-light-rgb);
	--color-text: var(--color-text-light);
	color-scheme: light;
}

@media (prefers-color-scheme: dark) {
	/* if the user prefers color scheme dark, select the body that isn't .light */
	body:not(.light) {
		--color-primary-rgb: 123, 252, 194;
		--color-primary-hex: #7bfcc2;
		--color-primary: rgb(var(--color-primary-rgb));
		--color-secondary-rgb: 248, 200, 64;
		--color-secondary: rgb(var(--color-secondary-rgb));
		--color-bg: var(--color-bg-dark);
		--color-bg-accent: var(--color-bg-dark-accent);
		--color-text-rgb: var(--color-text-dark-rgb);
		--color-text: var(--color-text-dark);
		color-scheme: dark;
	}
}

/* same applies if the body simply has the class name .dark */
body.dark {
	--color-primary-rgb: 123, 252, 194;
	--color-primary-hex: #7bfcc2;
	--color-primary: rgb(var(--color-primary-rgb));
	--color-secondary-rgb: 248, 200, 64;
	--color-secondary: rgb(var(--color-secondary-rgb));
	--color-bg: var(--color-bg-dark);
	--color-bg-accent: var(--color-bg-dark-accent);
	--color-text-rgb: var(--color-text-dark-rgb);
	--color-text: var(--color-text-dark);
	color-scheme: dark;
}
