@import "fonts.css";
@import "palette.css";
@import "transitions.css";

:root {
	--font-mono: "Space Mono", monospace;
	--max-width: 95vw;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: "Inter", sans-serif;
	font-size: 1rem;
}

body {
	background: var(--color-bg);
	color: var(--color-text);

	transition: all var(--transition);
}

::selection {
	background-color: var(--secondary-color);
}

:focus-visible {
	box-shadow: 0 0 0 4px var(--secondary-color);
	outline: none;
}
